body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square {
  margin-top: 60px;
  width: 90vh;
  height: 90vh;
  background-color: #6bbcbe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.allBar,
.allCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
}

.circle {
  margin: 0px 20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}

.bar {
  margin: 0px 5px;
  width: 15px;
  height: 100px;
  background-color: white;
}
@keyframes forCircle {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(180deg);
  }
}
.allCircle {
  animation: forCircle 2s ease-out infinite;
}

@keyframes forBar {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(1);
  }
}

.bar {
  animation: forBar 2s ease-in-out infinite;
}
.bar:first-child {
  animation-delay: 0.1s;
}
.bar:nth-child(2) {
  animation-delay: 0.2s;
}
.bar:nth-child(3) {
  animation-delay: 0.3s;
}
.bar:nth-child(4) {
  animation-delay: 0.4s;
}
.bar:last-child {
  animation-delay: 0.5s;
}
